html {
    height: 100%;
    width: 100%;
}

.navText {
    color: black;
    text-decoration: none;
    transition: color 0.3s, text-decoration 0.3s;
}


.navText:hover {
    color: #d61726;
    text-decoration: underline;
    /* Add underlines on hover */
}

.mainContainer {
    display: flex;
    height: 100vh;
    flex-direction: column;

}

.goto {
    margin-bottom: 4rem;
}

.goto.animated {
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 70px;
    max-width: 95%;
}

.count-fst div:last-child {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #181C36;
    opacity: 0.8;
}

.count-fst {
    position: relative;
}

/* 
.count-fst::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 60px;
    top: 20px;
    background: #95BF46;
    right: -60px;
    bottom: 0;
    margin: auto;
} */

.count-fst div:last-child {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #181C36;
    opacity: 0.8;
}

.count-fst {
    position: relative;
}

div#numbers span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #181C36;
}

div#numbers {
    margin-bottom: 16px;
    text-align: center;
}

div#numbers .div {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 450;
    font-size: 28px;
    line-height: 22px;
    text-align: center;
    color: #181C36;
    opacity: 0.8;
}

/* 
.count-fst::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 60px;
    top: 20px;
    background: #95BF46;
    right: -60px;
    bottom: 0;
    margin: auto;
} */


.logo {
    flex: 1;
    padding: 5px;
}

.navbar {
    flex: 1;
    display: flex;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    /* Offset-x, offset-y, blur-radius, color */

}

.homepageContainer {
    flex: 6;
    background-color: #f5f5f5;
    display: flex;
}

.footer {
    flex: 2;
}

.footer h1 {
    font-size: 3.5rem;
    font-weight: 600;
}

.logoStyle {
    height: 5rem;

}

.navOption {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
    font-size: 24px;
}

.logoContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.divider {
    width: 40%;
    height: 2px;
    background-color: #d9d3d3;
    /* You can set the color of the divider */
}

.aboutUsContent {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 20px;
    gap: 4px;
}

.aboutUsImage {
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainImageStyle {
    height: 10rem
}

/* ////////////////////aboutSection/////////////////// */
.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;

}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 200;

}

.icon span {
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;

}